<p>
<%= simple_form_for @list , url: "/lists/#{@list.name}", html: {:role => 'form' } do |f| %>
    <div class="form-group">
  <%= f.input :name, :input_html => { :class => "form-control" } %>
  <select class="companies-ajax" multiple="multiple" style="width: 50px !important; min-width: 50px; max-width: 50px;"></select>
    </div>
<p>
<%= f.button :submit %>
<% end %>
